* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.sections-container {
  position: relative;
  height: 100%;
  transition: all 1s;
  transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
  transform-style: preserve-3d;
}

.section {
  height: 100%;
  transition: all 1s;
  transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
  perspective: 1000px;
}

.section.stack {
  position: absolute;
  left: 0;
  right: 0;
}

.outofview {
  transform: translateY(-100vh);
  transform-style: preserve-3d;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  position: absolute;
  z-index: 1000;
  padding-top: 10px;
  padding-left: 10px;
  transition: all 1s;
  transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
}

.navbar.right {
  right: 0;
}

button {
  width: 4em;
  font-size: 1.15em;
  background: transparent;
  outline: none;
  border: 2px solid #3a3a3a;
  border-radius: 2px;
  margin: 0.5em;
}

button:active {
  transform: translateY(2px);
}
